.container {
  max-width: 100%;
}
.menu-btn-container {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 26px;
}
.menu-button {
  display: flex;
  justify-content: center;
  width: 100px;
}

mat-table {
  border: 1px solid #dddddd;
  font-family: arial, sans-serif;
  width: 100%;
  min-inline-size: max-content;
}

mat-icon {font-size: 18px;}

mat-footer-cell,
mat-header-cell,
mat-cell {
  border-right: 1px solid #dddddd;
  text-align: left;
  padding: 3px;
}
